* { 
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.nav {
    background-color: lightgray;
    padding: 20px;
    width: 1500px;
    display: flex;
    align-items: center;
  justify-content: space-between;
}
.header {
    background-color: white;
    padding: 60px;
    width: 1500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.a {
    padding: 10px;
    justify-self: space-between;
}
.footer {
    background-color: darkblue;
    padding: 200px; 
    width: 1500px;
    display: flex;  
    align-items: center;
    justify-content: space-between;
}
